@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.bottom-slider-mobile {
  /* Dots */
  .slick-dots li button:before {
    color: #95b9c8;
  }
  .slick-dots li.slick-active button:before {
    color: #78acc2;
  }
}

.big-slider {
  /* Arrows */
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    // 按鈕實際範圍
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

   
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 0;
    line-height: 1;

    color: transparent;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // 觸碰變色 (原本只有before 自己添加after)
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before,
  .slick-prev:hover:after,
  .slick-prev:focus:after,
  .slick-next:hover:after,
  .slick-next:focus:after {
    opacity: 1;
  }
  

  .slick-prev {
    left: 15px;
    z-index: 50;
  }

  .slick-next {
    right: 15px;
    z-index: 50;
  }

  /* 自製箭頭樣式和位置  */
  // 要變色這邊需先設置opacity: 0.5;
  .slick-prev::before {
    display: block;
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    width: 20px;
    height: 3px;
    transform: rotate(45deg);
    background-color: #c4d8e1;
    opacity: 0.5;
    transition:.3s
  }

  /* 自製箭頭樣式和位置  */
  .slick-prev::after {
    display: block;
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 20px;
    height: 3px;
    transform: rotate(135deg);
    background-color: #c4d8e1;
    opacity: 0.5;
    transition:.3s
  }

  /* 自製箭頭樣式和位置  */
  .slick-next::before {
    display: block;
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    width: 20px;
    height: 3px;
    transform: rotate(135deg);
    background-color: #c4d8e1;
    opacity: 0.5;
    transition:.3s
  }

  /* 自製箭頭樣式和位置  */
  .slick-next::after {
    display: block;
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    width: 20px;
    height: 3px;
    transform: rotate(45deg);
    background-color: #c4d8e1;
    opacity: 0.5;
    transition:.3s
  }

  @media screen and (min-width: 1040px) {
    .slick-prev {
      left: -30%;
      z-index: 50;
    }

    .slick-next {
      right: -30%;
      z-index: 50;
    }
  }
}
